/*
  Name: Ariane Apigo
  Date: 2019 November 8
  Section: AA / Chao Hsu Lin & Austin Jenchi

  This is the styles.css file for my
*/

@import url('https://fonts.googleapis.com/css?family=Short+Stack&display=swap');

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

h1, h2, h3 {
  font-family: "Short Stack", cursive;
}

h2 {
  border-bottom: 1px solid black;
}

header {
  display: flex;
  align-items: baseline;
}

body {
  background: #F1E5CE;
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
}

nav ul, #franchiseList {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 10px;
}

#sidebarList {
  list-style-image: url("/img/bobaresize.png");

}

#sidebarList li {
  padding-left: 2px;
}

.hidden {
  display: none;
}

main {
  display: flex;
}

#icon, .logo {
  width: 200px;
  display: block;
  margin: auto;
}

section {
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background: #FAF7F2;
}

.note {
  font-size: 10pt;
}

#franchiseList li {
  padding-bottom: 5px;
}

#info {
  text-align: center;
}

#back {
  width: 200px;
}

.review {
  background: #F1E5CE;
  padding: 10px;
  border-top: dotted 5px black;
  border-bottom: dotted 5px black;
}

.menu {
  width: 100%;
}
